// we should invert color value in black theme case 
$main-theme-color: #F6C437;

$button-text: #fff;
$body-text-color: #fff;
$main-light-color: #262626;
$main-light-gray: #333;
$main-gray: #aaa;
$theme-gray-base: #888; 
$main-dark-color: #fff;
$transparent: rgba(255,255,255,0);
$dark-body-bg: #141414;

$theme-link-color:  $main-dark-color ;
$theme-link-hover-color: $main-theme-color;

// P A D D I N G S
$padding-base: 15px;
$padding-medium: 30px;
$padding-large: 60px;
$padding-x-large: 90px;

// M A R G I N S 
$margin-base: 15px;
$margin-medium: 30px;
$margin-large: 60px;
$margin-x-large: 90px;

// F O N T S
$main-font:'Lato', sans-serif;
$main-font-secondary: 'Lato', sans-serif;
$main-border-radius: 5px;

 

 
 

